*.pyc
*.py~
.DS_Store
.cache
.pytest_cache/
__pycache__/
.ipynb_checkpoints/

Banana.app/

# Setuptools distribution and build folders.
/dist/
/build

# Virtualenv
/env

# dataset folder
/dataset

# Copy
* copy.*
* copy
Terminal Saved Output
*.log
